


.square {

  width: 400px;
  height: 400px;
  /* text-align: center; */
  font-size: 0em;
  border: 1px solid red;
  margin: 0 auto;
}

.snake {
  width: 20px;
  height: 20px;
  background: red;
  display: inline-block;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

/* .non-middle {
  margin-left: 0px;
  /* margin-left: -31px; */
} */
