table {
  margin: 0 auto;
  border-radius:10px;
}


.square {

  width: 400px;
  height: 400px;
  text-align: center;
  font-size: 8em;
  border: 1px solid red;
}

.snake {
  width: 20px;
  height: 20px;
  background: red;
  /* margin-left: -31px;
  margin-top: 0px; */
  display: inline-block;
}
