table {
  margin: 0 auto;
  border-radius:10px;
}


td {

  width: 400px;
  height: 400px;
  text-align: center;
  font-size: 8em;
  border: 1px solid red;
}

#snake {
  width: 200px;
  height: 10px;
  background: red;
  margin-left: 0px;
  margin-top: 0px;
}
